/*****************************************************************************
    Eric Meyer's reset reloaded
    Modified version for XHTML 1.0 Strict, removed depreciated elements.
 *****************************************************************************/
a, abbr, acronym, address, big, blockquote, body, caption, cite, code, dd, del,
dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, ins,
kbd, label, legend, li, object, ol, p, pre, q, samp, small, span, strong, sub,
sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/*****************************************************************************
    HTML elements
 *****************************************************************************/
body {
  font: 12px/160% Tahoma, Geneva, sans-serif;
  background: #fff;
  color: #484848;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
  color: #a23c3d;
  margin: 5px 0;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
hr {
  border: 1px solid #e5e5e5;
}
p, pre, blockquote, table {
  margin: 15px 0;
}
blockquote {
  font-style: italic;
  padding: 0 20px;
}
pre, .codeblock {
  line-height: 140%;
}
a:link, a:visited {
  color: #2c2c2c;
  text-decoration: underline;
}
a:hover, a:active {
  text-decoration: none;
}
abbr, acronym, cite {
  border: 1px dotted #e5e5e5;
}
address, em, dfn, var {
  font-style: italic;
}
big {
  font-size: 120%;
}
pre, .codeblock, code, kbd, samp, tt {
  font: 12px "Courier New", Courier, monospace;
}
del {
  text-decoration: line-through;
}
ins {
  text-decoration: underline;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
small {
  font-size: 80%;
}
strong, label, legend {
  font-weight: bold;
}
sub, sup {
  font-size: xx-small;
}
sub {
  vertical-align: bottom;
}
sup {
  vertical-align: top;
}
dd {
  margin: 0 0 10px 10px;
}
ol, ul {
  margin-left: 24px;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-type: disc;
}
fieldset {
  border: 1px solid #ccc;
  padding: 15px;
}
table {
  width: 100%;
}
thead th {
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}
th {
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
  font-weight: bold;
}
td, th {
  vertical-align: top;
  padding: 3px;
}

/*****************************************************************************
    Layout styles
 *****************************************************************************/
.clear-block {
  clear: both;
}
.container {
  max-width: 924px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing:border-box;
  overflow:hidden;
}
@media only screen and (min-width:960px) {
  .container {
    padding: 0;
  }
}

#header {
  background: #41a2e2 url(../images/header.png) repeat-x left top;
  min-height: 52px;
  overflow:hidden;
}
.banner {
  margin-bottom: 6px;
}
.banner > img {
  margin-top: 10px;
}
#logo {
  line-height: 0;
  float: left;
}
#header-region {
  float: right;
  margin-left: 10px;
  padding-top: 10px;
  color: #f9f8f8;
  font: 13px Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 42px;
}
#header-region a {
  color: #f9f8f8;
}
#main-wrapper {
  background: url(../images/container.png) repeat-y center top;
}
#sidebar-left {
  float: left;
  width: 240px;
}
#main-wrapper.sidebar #main {
  float: right;
  width: 674px;
  padding:0 10px;
  box-sizing:border-box;
}
#content-bottom {
  margin: 10px 0;
}
#content-bottom.content-bottom-left-and-right #content-bottom-left,
#main-wrapper.sidebar #content-bottom.content-bottom-left-and-right #content-bottom-left {
  float: left;
  padding-right: 20px;
}
#content-bottom.content-bottom-left-and-right #content-bottom-right,
#main-wrapper.sidebar #content-bottom.content-bottom-left-and-right #content-bottom-right {
  float: right;
  padding-left: 20px;
  background: url(../images/content-bottom-separator.png) no-repeat left 40px;
}
#content-bottom.content-bottom-left-and-right #content-bottom-left,
#content-bottom.content-bottom-left-and-right #content-bottom-right {
  width: 442px;
}
#main-wrapper.sidebar #content-bottom.content-bottom-left-and-right #content-bottom-left,
#main-wrapper.sidebar #content-bottom.content-bottom-left-and-right #content-bottom-right {
  width: 312px;
}
#footer {
  background: #404040 url(../images/footer.png) repeat-x left top;
  min-height: 45px;
  height: auto !important;
  height: 45px;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
#footer a {
  color: #ddd;
}
#footer .container {
  padding: 10px 0;
}

/*****************************************************************************
    Block module
 *****************************************************************************/
#blocks td.region {
  background: #e4e4e4;
  border-bottom: 1px solid #ccc;
}
#sidebar-left .block {
  margin-bottom: 10px;
  padding: 0 10px;
}
.block .block-subject {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0;
}
#header-region .block .block-subject {
  display: none;
}
#header-region .block .content p {
  margin: 0;
  text-align: right;
}
#sidebar-left .block .block-subject {
  color: #484848;
}
#sidebar-left .block.user, #sidebar-left .block.menu {
  padding: 0;
}
#sidebar-left .block.user ul.menu, #sidebar-left .block.user ul.menu li, #sidebar-left .block.user ul.menu li a,
#sidebar-left .block.menu ul.menu, #sidebar-left .block.menu ul.menu li, #sidebar-left .block.menu ul.menu li a {
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  list-style-type: none;
  list-style-image: none;
}
#sidebar-left .block.user .content,
#sidebar-left .block.menu .content {
  background: #43a4e3 url(../images/nav.png) repeat-x left bottom;
}
#sidebar-left .block.user ul.menu,
#sidebar-left .block.menu ul.menu {
  padding: 2px 0 10px 10px;
}
#sidebar-left .block.user ul.menu ul, #sidebar-left .block.user ul.menu ul ul, #sidebar-left .block.user ul.menu ul ul ul,
#sidebar-left .block.menu ul.menu ul, #sidebar-left .block.menu ul.menu ul ul, #sidebar-left .block.menu ul.menu ul ul ul {
  padding-top: 0;
  padding-bottom: 0;
}
#sidebar-left .block.user ul.menu li,
#sidebar-left .block.menu ul.menu li {
  padding: 8px 0 0 0;
  overflow: hidden;
}
#sidebar-left .block.user ul.menu li a,
#sidebar-left .block.menu ul.menu li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid #95c8e9;
  border-bottom: 1px solid #95c8e9;
  display: block;
  padding: 0 8px;
  height: 1%;
}
#sidebar-left .block.user ul.menu li a:hover, #sidebar-left .block.user ul.menu li a:active, #sidebar-left .block.user ul.menu li a.active,
#sidebar-left .block.menu ul.menu li a:hover, #sidebar-left .block.menu ul.menu li a:active, #sidebar-left .block.menu ul.menu li a.active {
  border-color: #cee8f9;
}
#content-bottom .block {
  margin-bottom: 10px;
}
.block .more-link {
  border-top: 1px solid #e5e5e5;
  text-align: left;
}
.block .more-link a {
  text-transform: uppercase;
  color: #0c3f7d;
  text-decoration: none;
  background: url(../images/bullet.png) no-repeat 2px 9px;
  padding: 3px 0 0 15px;
  display: block;
}
.block .more-link a:hover, .block .more-link a:active, .block .more-link a.active {
  text-decoration: underline;
}

/*****************************************************************************
    Database Logging module
 *****************************************************************************/
#admin-dblog tr.dblog-warning.even td {
  background-color: #fbfbda;
}
#admin-dblog tr.dblog-warning.odd td {
  background-color: #fefeeb;
}
#admin-dblog tr.dblog-warning.even td.active {
  background-color: #f3f3b7;
}
#admin-dblog tr.dblog-warning.odd td.active {
  background-color: #f6f6c7;
}
#admin-dblog tr.dblog-error.even td {
  background-color: #fbdada;
}
#admin-dblog tr.dblog-error.odd td {
  background-color: #fce2e2;
}
#admin-dblog tr.dblog-error.even td.active {
  background-color: #f2c6c6;
}
#admin-dblog tr.dblog-error.odd td.active {
  background-color: #f3cfcf;
}

/*****************************************************************************
    Node module
 *****************************************************************************/
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
#node-admin-filter ul li {
  list-style-type: none;
}
.node {
  margin-bottom: 10px;
}
.node .meta, .node .submitted {
  font-size: 11px;
  color: #999;
}

/*****************************************************************************
    System module
 *****************************************************************************/
tr.odd {
  background-color: #f4f4f4;
}
tr.even {
  background-color: #fafafa;
}
tr.drag {
  background-color: #fffdee;
}
tr.drag-previous {
  background-color: #fffbd6;
}
tr.odd td.active {
  background-color: #e9e9e9;
}
tr.even td.active {
  background-color: #f1f1f1;
}

div.admin-panel {
  margin: 0 0 15px 0;
  padding: 10px;
  border: 1px solid #c4c4c4;
  background: #f9f9f9;
}
div.admin .left {
  width: 49%;
  margin-left: 0;
  clear: none;
}
div.admin .right {
  width: 49%;
  margin-right: 0;
  clear: none;
}
table.package .description {
  color: #666;
  font-size: 11px;
}

table.system-status-report tr.info th, table.system-status-report tr.info td {
  background: #eee;
}
table.system-status-report tr.ok th, table.system-status-report tr.ok td {
  background-color: #dbffca;
}
table.system-status-report tr.warning th, table.system-status-report tr.warning td {
  background-color: #fffdca;
}
table.system-status-report tr.error th, table.system-status-report tr.error td {
  background-color: #ffcaca;
}
table.system-status-report td {
  padding: 6px;
}

div.messages, div.warning {
  padding: 3px 6px;
  margin: 5px 0;
  border-width: 1px;
  border-style: solid;
  color: #484848;
}
div.messages.status, div.ok {
  background-color: #dbffca;
  border-color: #a5cb93;
}
div.warning {
  background-color: #fffdca;
  border-color: #e0dea4;
}
div.error {
  background-color: #ffcaca;
  border-color: #dd9393;
}
.item-list ul {
  margin: 0 0 0 24px;
}
.form-text, .form-select, .form-textarea, .form-file, .form.submit {
  font: 13px Arial, Helvetica, sans-serif;
}
.form-text, .form-select, .form-textarea, .form-file {
  background: #fff;
  border: 1px solid #c4c4c4;
  color: #484848;
  padding: 5px;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #f2C0C0;
  background-color: #fff2f2;
}
.form-item .description, .tips {
  font-size: 11px;
  color: #999;
}
.marker, .form-required {
  color: #ff9000;
}
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
.pager-current {
  font-weight: bold;
}

ul.primary, ul.secondary {
  width: 100%;
  float: left;
  padding: 0;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
ul.primary li, ul.secondary li {
  float: left;
  margin: 0 0 0 5px;
  border: 0;
  padding: 0;
}
ul.primary li a, ul.secondary li a {
  background: #ddd;
  border: 0;
  margin: 0;
  padding: 4px 10px;
  display: block;
}
ul.primary li a:hover, ul.secondary li a:hover, ul.primary li.active a, ul.secondary li.active a {
  border: 0;
  background: #eaeaea;
}
ul.secondary {
  margin-top: 0;
}
ul.secondary li a {
  padding: 2px 8px;
}

html.js input.form-autocomplete {
  background-position: 100% 6px;
}
html.js input.throbbing {
  background-position: 100% -14px;
}

tr.selected td {
  background: #ffc;
}
table.sticky-header {
  background: #fff;
}

/*****************************************************************************
    Update module
 *****************************************************************************/
.update .project {
  font-weight: bold;
  font-size: 110%;
  padding-left: 0.25em;
  height: 22px;
}
.update .version-status {
  float: right;
  padding-right: 10px;
  font-size: 110%;
  height: 20px;
}
.update .version-status .icon {
  padding-left: 0.5em;
}
.update .info {
  margin: 0;
  padding: 1em 1em 0.25em 1em;
}
.update tr td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.update tr.error {
  background: #fcc;
}
.update tr.error .version-recommended {
  background: #fdd;
}
.update tr.ok {
  background: #dfd;
}
.update tr.warning {
  background: #ffd;
}
.update tr.warning .version-recommended {
  background: #ffe;
}
.update table.version tr, .update table.version td {
  line-height: 0.9em;
  padding: 0;
  margin: 0;
  border: none;
}
.update table.version .version-title {
  padding-left: 1em;
  width: 14em;
}
.update table.version .version-details {
  padding-right: 0.5em;
}
.update table.version .version-links {
  text-align: right;
  padding-right: 1em;
}
.update table.version-security .version-title {
  color: #970f00;
}
.update table.version-recommended-strong .version-title {
  font-weight: bold;
}
.update .security-error {
  font-weight: bold;
  color: #970f00;
}
.update .check-manually {
  padding-left: 1em;
}

/*****************************************************************************
    User module
 *****************************************************************************/
#permissions td.module {
  background: #e4e4e4;
  border-bottom: 1px solid #ccc;
}
#user-login-form {
  text-align: center;
}
#user-admin-filter ul li {
  list-style-type: none;
}
#user-admin-settings fieldset .description {
  font-size: 11px;
  color: #999;
}


/*****************************************************************************
    Administration menu
 *****************************************************************************/
#admin-menu {
  font: 12px Tahoma, Geneva, sans-serif;
}
#admin-menu, #admin-menu ul {
  line-height: 160%;
}
#admin-menu ul a, #admin-menu ul a:link, #admin-menu ul a:visited, #admin-menu ul a:focus { font-size: 12px; }

#admin-menu ul {
  width: 960px;
  margin: 0 auto;
}

body.admin-menu {
  margin-top: 27px !important;
}

/*****************************************************************************
    Content template
 *****************************************************************************/
.node .field {
  margin: 8px 0;
}
.node .content {
  clear: both;
}

/*****************************************************************************
    Miscellaneous
 *****************************************************************************/
span.green {
  color: #65a222;
}

/*****************************************************************************
    Node Gallery
 *****************************************************************************/
ul.gallery-operations {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  text-align: center;
}
.gallery-list .item-list ul, .gallery-list .item-list ul li,
.gallery-images-list .item-list ul, .gallery-images-list .item-list ul li {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1;
}
.gallery-list .item-list,
.gallery-images-list .item-list {
  margin-left: -20px;
}
.gallery-list .item-list li,
.gallery-images-list .item-list li {
  float: left;
}
.gallery-list .item-list li .gallery-cover-view,
.gallery-images-list .item-list li .image-thumbnail {
  margin: 0 0 20px 20px;
}
.gallery-list .meta .item-list li, .gallery-list .gallery-operations a,
.gallery-images-list .item-list li .image-thumbnail a {
  display: block;
  line-height: 140%;
  text-align: center;
  float: none;
  clear: both;
}
.gallery-list ul.gallery-operations li {
  margin: 0 5px;
}

/*****************************************************************************
    Views
 *****************************************************************************/
.views-tabset .views-display {
  clear: none;
}
.view-testimonial-list p {
  margin: 7px 0;
}
@media only screen and (min-width:768px) and (max-width:960px){
  #main-wrapper.sidebar #main{
    width:67%;
  }
}
@media only screen and (max-width:768px){
  #main-wrapper.sidebar #main{
    width:65%;
  }
}
@media only screen and (max-width:767px){
  #logo > img {
    width: 100%;
  }

  .banner > img {
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
  }
  #sidebar-left{
    width:100%;
  }
  .content p{
    text-align:center;
  }
  #main-wrapper.sidebar #main{
    width:100%;
  }
  #main h1{
    text-align:center;
  }
}

@media only screen and (max-width:360px){

}
